/* Why i started using boostrap? ugly both code & page itself */
/* MY */
body{
    background: hsl(210, 10%, 7%);
}
.heading{
    font-size: 1.8em;
}
.page{
    padding: 30px 20px;
    border-radius: 5px;
    /*border: solid 2px #4d5154;*/
    background: hsl(210, 11%, 15%);
}
dialog{
    border: none;
    padding: 1em 2em;
    border-radius: 5px;
}
::backdrop{
    background: black;
    opacity: 0.75;
}

/* HIDE numbers*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}
#clockH{
    font-size: 3em;
}
.running{
    background: #dc3545;
}
button{
    border: none;
    border-radius: 5px;
}

#grid {
    padding: 10px 20px;
    display: grid;
    grid-template-areas:
            "aaa head head"
            "side main main";
    grid-template-columns: auto 1fr 1fr;
}
header { grid-area: head }
aside { grid-area: side }
main { grid-area: main }

.hide{
    display: none;
}
.myCenter{
    display: flex;
    justify-content: center; /*->x*/
    align-items: center;     /*|y*/
}
.myContainer{
    display: flex;
    justify-content: center; /*->x*/
    align-items: center;     /*|y*/
    flex-direction: row;
}